form {
  font-size: 20px;
}

.controlFormInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.controlFormInput input,
.controlFormInput select {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  transition: border-color 0.3s;
}

.controlFormInput input:focus,
.controlFormInput select:focus {
  border-color: var(--color-green-500);
  outline: none;
}

.controlFormSubmit {
  width: 100%;
  padding: 15px 0;
  margin-top: 20px;
  border-radius: 3px;
  background-color: var(--color-green-500);
  color: var(--color-white);
  transition: 0.3s all;
}

.controlFormSubmit:hover {
  cursor: pointer;
  filter: contrast(0.8);
}
