:root {
  --color-white: white;

  --color-green-400: #49ecd5;
  --color-green-500: #3cc25c;

  --color-blue-500: #2c325c;
  --color-blue-800: #1d203d;
  --color-blue-900: #1d2041;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background: var(--color-blue-900);
  color: var(--color-white);
}

.container {
  background: var(--color-blue-500);
  padding: 20px;
  border-radius: 3px;
  margin-top: 5px;

  box-shadow: 0px 0px 20px --color-blue-500;
}

.container > .title {
  font-size: 28px;
}

.logo {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 15px;
}
.logo span {
  border-bottom: 1px solid var(--color-green-500);
}

.welcome {
  display: flex;
  align-items: center;
  gap: 10px;
}

.welcome img {
  height: 50px;
  width: 50px;

  border: 2px solid var(--color-green-500);
  border-radius: 100px;
}

.welcome h2 {
  font-size: 20px;
  font-weight: bold;
}
.welcome h3 {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300;
}
#page {
  flex: 1;
  gap: 5px;
}
@media (min-width: 768px) {
  #page {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  aside {
    max-width: 400px;
  }
}

aside {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.valoresBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grafico {
  position: relative;
  max-width: 300px;
}

.grafico .info {
  position: absolute;
  top: calc(42%);
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

  font-size: 33px;
}
.historico {
  margin-top: 20px;
  font-size: 25px;
  display: flex;
  gap: 20px;
}
.entrada {
  color: #485acd;
}
.saida {
  color: #f05896;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.history {
  flex: 1;
}
#history {
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 100vh;
  overflow-y: auto;
}
@media (min-width: 1220px) {
  .item {
    max-width: 350px;
  }
}
.item {
  width: 100%;
  background-color: var(--color-blue-800);
  padding: 15px;
  border-radius: 5px;
}

.item .info,
.item .desc {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.item .desc > p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin: 5px;
}

.item .title {
  font-size: 22px;

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin: 5px;
}
.item .function {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.value {
  font-size: 22px;
}
